html,
body,
:root {
  height: 100%;
  margin: 0;
}
body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}
.canvas-wrap {
  width: 100%;
  height: 60vh;
}
